/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,700;0,800;1,700;1,800&family=Montserrat:ital,wght@0,200;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');


/* Changing the main font and background colour */

body {
	font-family: 'Montserrat', sans-serif;
	font-color: #595959;
	font-weight: 200;
	background-color: #00000;
	margin:0px;
	padding: 0px;
	border: 0px;
}

.kushi-logo {
	margin-top: -48px;
	margin-bottom: -40px;
}

.container-fluid {
	background-size: cover;
}

.section-story{
	margin-top: 40px;
	align-content:center;
	
	
}

/* Main Header */

h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-color: #595959;
	background-color: #E6E6FA;
	padding: 12px;
	margin: 0px;
	
}

/* Main Body*/
.paragraph {
	font-family:'Montserrat', sans-serif;
	font-color:#595959;
	font-weight: 200;
	background-color: #E6E6FA; 
	padding: 10px;
	grid-column-end: auto;
}

/*button learn-more Home Page */
.btn-outline {
  font-family:'Libre Franklin', sans-serif;
  color: #595959;
  background-color: #ffffff;
  border-color: #595959;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 40px;
}
.line-home{
	margin-top:20px;
	width: 90%;
	margin-left: 80px;
	
}


/* Changing the background colour for the header */
.header {
	background-color: #FFFFFF;
}


/* Changing the background color for the navigation bar */
.navbar {
	background-color: #ffffff;
	font-weight: 600;	
}

/* Effect on social media buttons */
footer a:hover {
	opacity: .5;
}

/*Our Story*/
.holding-lavender {
	border-radius: 50%;
	margin-right: 80px;
}

.section-1 {
	margin-top: 25px;
}

.section-2 {
	margin-top: -90px;
}

.section-3 {
	margin-top: 50px;
}

.section-4 {
	margin-top: 50px;
}

.hands-in-lavender {
	border-radius: 50%;
	margin-left: 80px;
}

.header-story {
	margin-top: 50px;
}

.header-story-right {
	margin-left: 20px;
}

.header-story-left {
	margin-right: 20px;
}

.paragraph-2-left {
	padding-right: 40px;
	padding-top: 150px;
	line-height: 1.5;
}

.paragraph-left {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.paragraph-1-right {
	padding-left: 40px;
	padding-top: 80px;
	line-height: 1.5;
}

.paragraph-right {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.header-team {
	background: none !important;
	margin-left: 60px
}

.team-portrait {
	border-radius: 40%;
	border: solid 15px;
	border-color: #E6E6FA;
}

.name-team {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.student-number {
	margin-top: 15px;
	margin-bottom: -2px;
}


/*Products on homepage*/
.header-products{
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	font-color: #595959;
	font-size: 40px
}
.border-right{ 
	border-left-style: solid;
	border-right-style: solid;
	;
}
.border-left{
	border-left-style: solid;
	border-right-style: solid;
	}

/*Login Customisation */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header-login {
	border-radius: 20px;
	letter-spacing: 2px;
}

.btn-primary {
	border-radius: 15px;
	background-color:#55468C;
	border: none;
	letter-spacing: 2px;
}

.btn-primary:hover {
	background-color: #9184BF;
	color: white;
}

.login-logo {
	margin-top: -60px;
	margin-bottom: -30px !important;
}

.body-login {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

/*Product page*/
.product-small {
	display: block;
	min-height: 150px;
	min-width: 150px;
	max-height: 150px;
	max-width: 150px;
	margin-left: 25px
}

.product-image-1 {
	margin-bottom: 60px;
}

.btn-buy-product {
	border-radius: 10px;
}

.accordion-shipping {
	margin-top: 50px;
}

.price {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header-products {
	border-radius: 20px;
}

/* Checkout + shopping cart */
.checkout-product-1 {
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 30px;
}

/* Origin */
.section-4 {
	background-color: #C0D98A;
	padding-top: 50px;
	padding-bottom: 30px;
}

.caption-origin {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 10px;
}

.origin {
	border-color: black;
	border: black 10px;
}