/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,700;0,800;1,700;1,800&family=Montserrat:ital,wght@0,200;0,600;0,700;1,200;1,500;1,600&display=swap');



/* Changing the main font and background colour */

body {
	font-family: 'Montserrat', sans-serif;
	font-color: #595959;
	background-color: #00000;
	margin:0px;
	padding: 0px;
	border: 0px;
}

.kushi-logo {
	margin-top: -35px;
	margin-bottom: -40px;
}

.container-fluid {
	background-size: cover;
}

.section-story{
	margin-top: 40px;
}

/*Our story, header */

h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-color: #595959;
	background-color: #E6E6FA;
	padding: 12px;
	margin: 0px;
}

/* Our story, body*/
.paragraph {
	font-family:'Montserrat', sans-serif;
	Font-color:#595959;
	background-color: #E6E6FA; 
	padding: 10px;
	margin-top: 0px;
}

/*button learn more */
.btn-outline {
  font-family:'Libre Franklin', sans-serif;
  color: #595959;
  background-color: #ffffff;
  border-color: #595959;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 40px;
}

/* Changing the background colour for the header */

header {
	background-color: #FFFFFF;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #ffffff;
	font-weight: 600;	
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.animate-charcter{
  background-image: linear-gradient(
    -225deg,
    #4C4C4C 0%,
    #E4E3F2 29%,
    #E4E3F2 67%,
    #4C4C4C 100% );
  background-size: auto auto;

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/*Out Story*/

.holding-lavender {
	border-radius: 50%;
	margin-right: 80px;
}

.section-1 {
	margin-top: 25px;
}

.section-2 {
	margin-top: -90px;
}

.section-3 {
	margin-top: 50px;
}

.section-4 {
	margin-top: 50px;
}

.hands-in-lavender {
	border-radius: 50%;
	margin-left: 80px;
}

.header-story {
	margin-top: 50px;
}

.paragraph-2-left {
	padding-right: 40px;
	padding-top: 150px;
	line-height: 1.5;
}

.paragraph-1-right {
	padding-left: 40px;
	padding-top: 80px;
	line-height: 1.5;
}

.header-team {
	background: none !important;
	margin-left: 60px
}

.team-portrait {
	border-radius: 40%;
	border: solid 15px;
	border-color: #E6E6FA;
}